body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.colors{
    color: blue;
}
section{
    display: flex;

}
.halfr{
    width: 50%;
}
.half img{
    width: 80%;
}
.lb{
    text-decoration-line: none;
    background-color: brown;
    background-image: linear-gradient(brown,red);
    color: blue;
    font-weight: 400;
    padding: 1% 2%;
    border-radius: 10px;
}
.topbanner{
    background-image: url(imagee/pngtree-cannes-purple-semicircle-image_1264319.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    padding-bottom: 10%;
}